<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Test</title>
</head>
<body>

<h2>Dashboard Page</h2>

<button onclick="goDashboard()">Go Dashboard</button>

<script>
function goDashboard() {
    const token = localStorage.getItem("access");

    fetch("http://127.0.0.1:8000/dashboard/", {
        method: "GET",
        headers: {
            "Authorization": "Bearer " + token
        }
    })
    .then(res => res.json())
    .then(data => alert(data.message))
    .catch(err => alert("Error: " + err));
}
</script>

</body>
</html>